const bcrypt = require('bcryptjs');

async function hashPassword(pwd) {
  const salt = await bcrypt.genSalt(10);
  return bcrypt.hash(pwd, salt);
}

async function matchPassword(pwd, hash) {
  return bcrypt.compare(pwd, hash);
}
