// webpack.config.js

module.exports = {
  module: {
    rules: [{
      test: /\.css$/,
      use: [
        { loader: 'style-loader' },
        {
          loader: 'css-loader',
          options: {
            module: true,
            localIdentName: '[name]__[local]--[hash:base64:5]', // default '[hash:base64]'
          },
        },
      ],
    }]
  }
};
