const App = (
  <BrowserRouter>
    <div>
      <Links />

      <Switch>
        <Route exact path="/" component={Home} />
        <Route path="/about" component={About} />
        <Redirect from="/about-us" to="/about" />
      </Switch>
    </div>
  </BrowserRouter>
);
