knex('books').insert({ title: 'Slaughterhouse Five' })
// insert clearinto `books` (`title`) values ('Slaughterhouse Five')

knex('coords').insert([{ x: 20 }, { y: 30 }, { x: 10, y: 20 }])
// insert into `coords` (`x`, `y`) values (20, DEFAULT), (DEFAULT, 30), (10, 20)