/**
 * PART 3
 */
const knex = require('knex')({
  client: 'mysql',
  connection: {
    host: '127.0.0.1',
    user: 'kpman',
    database: 'test',
  },
});

knex.select().from('midterm_exam').then(result => {
  console.log(result);
  process.exit(0);
});
